####################
# PNPM configuration
####################
# hint: If you don't want pnpm to fail on peer dependency issues, add "strict-peer-dependencies=false" to an .npmrc file at the root of your project.
strict-peer-dependencies=true


# The dependency chain of a sub-dependency requires older versions of @mdx-js/mdx and vite.
# After thorough testing, it can be confirmed that ^3.1.0 for @mdx-js/mdx and catalog:tooling for vite work fine.
# Suppress peer dependency errors for these packages.
peer-dependency-rules.allowed-versions."@mdx-js/mdx"=^3.1.0
peer-dependency-rules.allowed-versions.vite=catalog:tooling